/*.ali
*.pyc
/CVS
/Makefile
/gprclean
/gprconfig
/gprconfig.exe
/gprbuild
/gprbuild.exe
/gprmake
/gprmake.exe
/gprbind
/gprbind.exe
/gprinstall
/gprinstall.exe
/gprlib
/gprlib.exe
/gprslave
/gprslave.exe
/install
/create_ada_runtime_project
/create_ada_runtime_project.exe
/config.log
/config.status
/gnat.gpr
/gnat_src
/obj-debug

/src/gprconfig-sdefault.ads

/doc/txt
/doc/html
/doc/info
/doc/pdf
/doc/projects_unw.texi
/doc/xgnatugn
/doc/xgnatugn.ali
/doc/xgnatugn.o
/gnat/projects.texi
/gnat/ug_words
/gnat/xgnatugn.adb

/internal/gprtests/gprtest
/internal/gprtests/out
/internal/gprtests_python/out
/internal/gprtests/gprtest.conf
/internal/gprtests/install

/internal/gprtests_python/support/compilers.xml
/internal/gprtests_python/support/targetset.xml
/internal/gprtests_python/support/nocompiler.xml
/internal/gprtests_python/local_machines.py
/internal/gprtests_python/test_config.py
internal/gprtests_python/env.dump

/gnat/*.ali
/gnat/ali.ad?
/gnat/ali-util.ad?
/gnat/alloc.ads
/gnat/aspects.ad?
/gnat/atree.ad?
/gnat/binderr.ad?
/gnat/butil.ad?
/gnat/casing.ad?
/gnat/clean.ad?
/gnat/csets.ad?
/gnat/debug.ad?
/gnat/einfo.ad?
/gnat/elists.ad?
/gnat/errout.ad?
/gnat/erroutc.ad?
/gnat/errutil.ad?
/gnat/err_vars.ads
/gnat/fmap.ad?
/gnat/fname.ad?
/gnat/fname-uf.ad?
/gnat/fname-sf.ads
/gnat/gnatcmd.ad?
/gnat/gnat_style.css
/gnat/gnatvsn.ad?
/gnat/hostparm.ads
/gnat/krunch.ad?
/gnat/lib.ad?
/gnat/lib-list.adb
/gnat/lib-sort.adb
/gnat/link.c
/gnat/makeutl.ad?
/gnat/make.ad?
/gnat/makeusg.ads
/gnat/mlib-prj.ads
/gnat/mlib.ad?
/gnat/mlib-fil.ad?
/gnat/mlib-tgt.ad?
/gnat/mlib-tgt-specific.ad?
/gnat/mlib-tgt-specific-linux.adb
/gnat/mlib-tgt-specific-vms-alpha.adb
/gnat/mlib-tgt-specific-vms-ia64.adb
/gnat/mlib-tgt-vms.ad?
/gnat/mlib-tgt-vms_common.ad?
/gnat/mlib-tgt-vms-alpha.adb
/gnat/mlib-tgt-vms-ia64.adb
/gnat/mlib-utl.ad?
/gnat/namet.ad?
/gnat/nlists.ad?
/gnat/*.o
/gnat/opt.ad?
/gnat/osint.ad?
/gnat/osint-m.ads
/gnat/output.ad?
/gnat/prj.ad?
/gnat/prj-attr.ad?
/gnat/prj-attr-pm.ad?
/gnat/prj-com.ads
/gnat/prj-conf.ad?
/gnat/prj-dect.ad?
/gnat/prj-env.ad?
/gnat/prj-err.ad?
/gnat/prj-ext.ad?
/gnat/prj-gnat-6.0.1.diff
/gnat/prj-nmsc.ad?
/gnat/prj-pars.ad?
/gnat/prj-part.ad?
/gnat/prj-pp.ad?
/gnat/prj-proc.ad?
/gnat/prj-strt.ad?
/gnat/prj-tree.ad?
/gnat/prj-util.ad?
/gnat/restrict.ad?
/gnat/rident.ads
/gnat/scans.ad?
/gnat/scng.ad?
/gnat/sdefault.ads
/gnat/sem_aux.ad?
/gnat/sfn_scan.ads
/gnat/sinfo.ad?
/gnat/sinput.ad?
/gnat/sinput-c.ad?
/gnat/sinput-p.ad?
/gnat/snames.ad?
/gnat/snames.adb-tmpl
/gnat/snames.ads-tmpl
/gnat/snames.h-tmpl
/gnat/snames.nb
/gnat/snames.nh
/gnat/snames.ns
/gnat/stand.ad?
/gnat/stringt.ad?
/gnat/style.ads
/gnat/styleg.ad?
/gnat/styleg-c.ad?
/gnat/stylesw.ad?
/gnat/switch-m.ads
/gnat/switch.ad?
/gnat/table.ad?
/gnat/targparm.ad?
/gnat/tempdir.ad?
/gnat/tree_io.ad?
/gnat/types.ad?
/gnat/uintp.ad?
/gnat/uname.ad?
/gnat/urealp.ad?
/gnat/xsnamest
/gnat/xsnamest.adb
/gnat/xutil.ad?
/gnat/widechar.ad?
/gnat/Make-generated.in
/gnat/bldtools/
/gnat/snames.h
/gnat/stamp-snames
