/*.ali
*.pyc
/CVS
/Makefile
/gprclean
/gprconfig
/gprconfig.exe
/gprbuild
/gprbuild.exe
/gprmake
/gprmake.exe
/gprbind
/gprbind.exe
/gprlib
/gprlib.exe
/install
/create_ada_runtime_project
/create_ada_runtime_project.exe
/config.log
/config.status
/gnat.gpr
/gnat_src
/obj-debug

/src/gprconfig-sdefault.ads

/doc/txt
/doc/html
/doc/info
/doc/pdf

/internal/gprtests/gprtest
/internal/gprtests/out
/internal/gprtests_python/out
/internal/gprtests/gprtest.conf
/internal/gprtests/install

/internal/gprtests_python/support/compilers.xml
/internal/gprtests_python/support/targetset.xml
/internal/gprtests_python/support/nocompiler.xml
/internal/gprtests_python/local_machines.py
/internal/gprtests_python/test_config.py

/gnat/*.ali
/gnat/ali.adb
/gnat/ali.ads
/gnat/alloc.ads
/gnat/atree.adb
/gnat/atree.ads
/gnat/butil.adb
/gnat/butil.ads
/gnat/casing.adb
/gnat/casing.ads
/gnat/csets.adb
/gnat/csets.ads
/gnat/debug.adb
/gnat/debug.ads
/gnat/einfo.adb
/gnat/einfo.ads
/gnat/elists.adb
/gnat/elists.ads
/gnat/errout.adb
/gnat/errout.ads
/gnat/erroutc.adb
/gnat/erroutc.ads
/gnat/errutil.adb
/gnat/errutil.ads
/gnat/err_vars.ads
/gnat/fmap.adb
/gnat/fmap.adb.orig
/gnat/fmap.ads
/gnat/fname.adb
/gnat/fname.ads
/gnat/gnat_style.css
/gnat/gnatvsn.adb
/gnat/gnatvsn.ads
/gnat/hostparm.ads
/gnat/lib.adb
/gnat/lib.ads
/gnat/lib-list.adb
/gnat/lib-sort.adb
/gnat/link.c
/gnat/makeutl.adb
/gnat/makeutl.ads
/gnat/mlib.adb
/gnat/mlib.ads
/gnat/mlib-fil.adb
/gnat/mlib-fil.ads
/gnat/mlib-tgt.adb
/gnat/mlib-tgt.ads
/gnat/mlib-tgt-specific.adb
/gnat/mlib-tgt-specific.ads
/gnat/mlib-tgt-specific-linux.adb
/gnat/mlib-tgt-specific-vms-alpha.adb
/gnat/mlib-tgt-specific-vms-ia64.adb
/gnat/mlib-tgt-vms.adb
/gnat/mlib-tgt-vms.ads
/gnat/mlib-tgt-vms_common.adb
/gnat/mlib-tgt-vms_common.ads
/gnat/mlib-tgt-vms-alpha.adb
/gnat/mlib-tgt-vms-ia64.adb
/gnat/mlib-utl.adb
/gnat/mlib-utl.ads
/gnat/namet.adb
/gnat/namet.ads
/gnat/nlists.adb
/gnat/nlists.ads
/gnat/*.o
/gnat/opt.adb
/gnat/opt.ads
/gnat/osint.adb
/gnat/osint.adb.orig
/gnat/osint.ads
/gnat/osint.ads.orig
/gnat/output.adb
/gnat/output.ads
/gnat/prj.adb
/gnat/prj.ads
/gnat/prj-attr.adb
/gnat/prj-attr.ads
/gnat/prj-attr-pm.adb
/gnat/prj-attr-pm.ads
/gnat/prj-com.ads
/gnat/prj-conf.adb
/gnat/prj-conf.ads
/gnat/prj-dect.adb
/gnat/prj-dect.ads
/gnat/prj-env.adb
/gnat/prj-env.ads
/gnat/prj-err.adb
/gnat/prj-err.ads
/gnat/prj-ext.adb
/gnat/prj-ext.ads
/gnat/prj-gnat-6.0.1.diff
/gnat/prj-nmsc.adb
/gnat/prj-nmsc.ads
/gnat/prj-pars.adb
/gnat/prj-pars.ads
/gnat/prj-part.adb
/gnat/prj-part.ads
/gnat/prj-pp.ad?
/gnat/prj-proc.adb
/gnat/prj-proc.ads
/gnat/prj-strt.adb
/gnat/prj-strt.ads
/gnat/prj-tree.adb
/gnat/prj-tree.ads
/gnat/prj-util.adb
/gnat/prj-util.ads
/gnat/rident.ads
/gnat/scans.adb
/gnat/scans.ads
/gnat/scng.adb
/gnat/scng.ads
/gnat/sdefault.ads
/gnat/sinfo.adb
/gnat/sinfo.ads
/gnat/sinput.adb
/gnat/sinput.ads
/gnat/sinput-c.adb
/gnat/sinput-c.adb.orig
/gnat/sinput-c.ads
/gnat/sinput-p.adb
/gnat/sinput-p.ads
/gnat/snames.adb
/gnat/snames.ads
/gnat/snames.adb-tmpl
/gnat/snames.ads-tmpl
/gnat/snames.h-tmpl
/gnat/snames.nb
/gnat/snames.nh
/gnat/snames.ns
/gnat/stand.adb
/gnat/stand.ads
/gnat/stringt.adb
/gnat/stringt.ads
/gnat/style.ads
/gnat/styleg.adb
/gnat/styleg.ads
/gnat/styleg-c.adb
/gnat/styleg-c.ads
/gnat/stylesw.adb
/gnat/stylesw.ads
/gnat/switch.adb
/gnat/switch.ads
/gnat/table.adb
/gnat/table.ads
/gnat/targparm.adb
/gnat/targparm.ads
/gnat/tempdir.adb
/gnat/tempdir.ads
/gnat/tempdir.ads.orig
/gnat/tree_io.adb
/gnat/tree_io.ads
/gnat/types.adb
/gnat/types.ads
/gnat/uintp.adb
/gnat/uintp.ads
/gnat/uname.adb
/gnat/uname.ads
/gnat/urealp.adb
/gnat/urealp.ads
/gnat/xsnamest
/gnat/xsnamest.adb
/gnat/xutil.adb
/gnat/xutil.ads
/gnat/widechar.adb
/gnat/widechar.ads
/gnat/Make-generated.in
/gnat/bldtools/
/gnat/snames.h
/gnat/stamp-snames
